In [20]:
from pandas import Series, DataFrame

def print_star():
    print('-' * 80)

data = {
    "state": ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
    "year": [2000, 2001, 2002, 2001, 2002],
    "pop": [1.5, 1.7, 3.6, 2.4, 3.9]
}

frame = DataFrame(data)
print(frame)
print_star()

columns_frame = DataFrame(data, columns=['year', 'state', 'pop'])
print(columns_frame)
print_star()


index_frame = DataFrame(data, columns=['year', 'state', 'pop'], index=['one', 'two', 'three', 'four', 'five'])
print(index_frame)
# 取列
print(index_frame['state'])
print_star()

   pop   state  year
0  1.5    Ohio  2000
1  1.7    Ohio  2001
2  3.6    Ohio  2002
3  2.4  Nevada  2001
4  3.9  Nevada  2002
--------------------------------------------------------------------------------
   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  3.9
--------------------------------------------------------------------------------
       year   state  pop
one    2000    Ohio  1.5
two    2001    Ohio  1.7
three  2002    Ohio  3.6
four   2001  Nevada  2.4
five   2002  Nevada  3.9
one        Ohio
two        Ohio
three      Ohio
four     Nevada
five     Nevada
Name: state, dtype: object
--------------------------------------------------------------------------------

In [4]:
print """{"failed": [], "s": 2, "t": 2, "success": ["\n2018-04-04 04:33:02 \u62c9\u53d6\u6700\u65b0\u4ee3\u7801\u3002\n2018-04-04 04:33:05 \u5df2\u5b8c\u6210", "\n\n\n\n2018-04-04 04:33:05 \u66f4\u65b0\u4ee3\u7801, release-prod-20180403-v1 to 10.177.210.119\n2018-04-04 04:33:06 \u5df2\u5b8c\u6210", "\n\n2018-04-04 04:33:06 \u66f4\u65b0\u4ee3\u7801, release-prod-20180403-v1 to 10.177.210.106\nA   dist/0.166.js\nA   dist/flags.svg\nA   dist/index.166.css\nA   dist/index.166.js\nA   dist/index.html\nA   dist/manifest.166.js\nA   dist/akamai/gtm-test-object.txt\nA   dist/img/PC0106_03.png\nA   dist/img/logos.png\nA   dist/img/m_arrow_d.png\nA   dist/img/mcredit.png\nA   dist/img/rw_logos.png\n2018-04-04 04:33:06 \u5df2\u5b8c\u6210"], "f": 0}"""

{"failed": [], "s": 2, "t": 2, "success": ["
2018-04-04 04:33:02 \u62c9\u53d6\u6700\u65b0\u4ee3\u7801\u3002
2018-04-04 04:33:05 \u5df2\u5b8c\u6210", "



2018-04-04 04:33:05 \u66f4\u65b0\u4ee3\u7801, release-prod-20180403-v1 to 10.177.210.119
2018-04-04 04:33:06 \u5df2\u5b8c\u6210", "

2018-04-04 04:33:06 \u66f4\u65b0\u4ee3\u7801, release-prod-20180403-v1 to 10.177.210.106
A   dist/0.166.js
A   dist/flags.svg
A   dist/index.166.css
A   dist/index.166.js
A   dist/index.html
A   dist/manifest.166.js
A   dist/akamai/gtm-test-object.txt
A   dist/img/PC0106_03.png
A   dist/img/logos.png
A   dist/img/m_arrow_d.png
A   dist/img/mcredit.png
A   dist/img/rw_logos.png
2018-04-04 04:33:06 \u5df2\u5b8c\u6210"], "f": 0}

In [22]:
from pandas import Series, DataFrame

obj = Series([7, -5, 7, 4, 2, 0, 4])
print obj.rank()
print sum([7, -5, 7, 4, 2, 0, 4])

0    6.5
1    1.0
2    6.5
3    4.5
4    3.0
5    2.0
6    4.5
dtype: float64
19

In [34]:
from numpy import *
from pandas import *

# print random.randn(7, 3)

df = DataFrame(random.randn(7, 3))
print df

print arange(3.0)
print arange(6).reshape(3, 2)

          0         1         2
0 -0.091815 -1.104663  1.236677
1  0.756317  1.987946  0.202702
2 -0.096155 -1.270145  0.598318
3 -0.140632  0.394274  2.020256
4 -0.402148 -0.451641  0.613066
5 -2.205906  1.067855  1.566339
6  1.197639  0.925809 -1.068081
[ 0.  1.  2.]
[[0 1]
 [2 3]
 [4 5]]

In [1]:
import pandas as pd
df=pd.DataFrame([[1,2,2],[1,4,5],[1,2,4],[1,6,3],[2,3,1],[2,4,1],[2,3,5],[3,1,1]],columns=['A','B','C'])
print df

gp=df.groupby(by=['A', 'B', 'C'])
print gp.size()

A = df.groupby(by=['A'])
for i in A:
    print i

   A  B  C
0  1  2  2
1  1  4  5
2  1  2  4
3  1  6  3
4  2  3  1
5  2  4  1
6  2  3  5
7  3  1  1
A  B  C
1  2  2    1
      4    1
   4  5    1
   6  3    1
2  3  1    1
      5    1
   4  1    1
3  1  1    1
dtype: int64

In [58]:
from pandas import Series, DataFrame
import numpy as np

# print np.random.randn(5, 5)
people = DataFrame(np.random.randn(5, 5), columns=['a', 'b', 'c', 'd', 'e'], index=['Joe', 'Steve', 'Wes', 'Jim', 'Travis'])
# 添加几个NA值
people.loc[2:3, ['b', 'c']] = np.nan
print people

mapping = {'a': 'red', 'b': 'red', 'c': 'blue', 'd': 'blue', 'e': 'red', 'f': 'orange'}

by_column = people.groupby(mapping, axis=1)
by_column.sum()

map_series = Series(mapping)
print(map_series)

people_map_series = people.groupby(map_series, axis=1).count()
print people_map_series

print people.groupby(len).sum()

key_list = ['one', 'one', 'one', 'two', 'two']
print people.groupby([len, key_list]).min()

               a         b         c         d         e
Joe    -0.620518 -1.697714  0.681595  0.335098 -2.579200
Steve   0.646063  0.407563 -0.602238 -0.216130 -1.187331
Wes     0.264160       NaN       NaN  1.724516  1.540976
Jim    -1.179435 -2.160310 -1.685062 -0.013502 -2.781866
Travis -0.498770 -0.229794  1.228405 -0.230672 -1.311916
a       red
b       red
c      blue
d      blue
e       red
f    orange
dtype: object
        blue  red
Joe        2    3
Steve      2    3
Wes        1    2
Jim        2    3
Travis     2    3
          a         b         c         d         e
3 -1.535793 -3.858024 -1.003467  2.046113 -3.820090
5  0.646063  0.407563 -0.602238 -0.216130 -1.187331
6 -0.498770 -0.229794  1.228405 -0.230672 -1.311916
              a         b         c         d         e
3 one -0.620518 -1.697714  0.681595  0.335098 -2.579200
  two -1.179435 -2.160310 -1.685062 -0.013502 -2.781866
5 one  0.646063  0.407563 -0.602238 -0.216130 -1.187331
6 two -0.498770 -0.229794  1.228405 -0.230672 -1.311916